$white: #fff;
$dakr-white: #eee;
$black: #000;
$red: #c42f2f;
$blue: #007bff;
$lightblue: #05aefb;
$darkblue: #293644;
$gray: #757575;
$light-gray: #d8d8d8;
$font-grey: #2c2b2b;
$green: #4a8d4f;
$green2: #5cb19c;
$vue-green: #41b883;


$primary: $red;
$secondary: $green;

$box-shadow-1: 0px 0px 7px $gray;